src/main/resources/xsd/pricat.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="document">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="head">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="correlationID">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="providerName">
                                <xs:complexType>
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="countPosition" type="xs:unsignedByte" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="articles">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element maxOccurs="unbounded" name="article">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="price">
                                            <xs:complexType>
                                                <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="expirationDate">
                                            <xs:complexType>
                                                <xs:attribute name="value" type="xs:string" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="value" type="xs:string" use="required" />
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="AddressOfSendingTheCatalog" type="xs:string" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>